body {
    margin: auto;
    width: 60%;
    text-align: justify;
    background: url("../images/fts.avif") no-repeat center center;
    background-size: cover;
}

.signup {
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 2px;
    background-color: rgba(173, 216, 230, 0.5);
    margin-top: 50px;
}

.signup button {
    background-color: #4CB5F9;
    color: #FEFCFD;
    border-style: solid;
    border-color: #4CB5F9;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    margin: 5px; 
}

.signup h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4CB5F9;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 2px;
    background-color: rgba(173, 216, 230, 0.5);
}